@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Macondo', cursive;
  font-size: 20px;
}
body{
  background-color: rgb(223, 254, 255);
}

/*Intro*/

.intro{
  background-color: transparent;
  border: none;
  border-style: hidden;
  box-shadow: none;
  display:flex;
}

.intro h1{
  text-align: left
  padding-bottom:0rem;
}

.intro nav{
  float: right;
  padding: 1rem;
}

.intro nav button{
  border: none;
  border-style: hidden;
  box-shadow: none;
}

.intro a:link{
  text-decoration: none;
  background-color: #ffff;
  padding: 1rem;
  box-shadow: -5px -5px 12px #ffff,
                    5px 5px 4px sienna; 
}
a:hover{
  text-decoration: underline;
}


/*Profile presentations*/

.pp{
  box-sizing: border-box;
  float:inline-start;
  position: relative;
  display: inline-block;
}

div{
  background-color:#ffff;
  margin-left: 10rem;
  margin-right: 10rem;
  border-style:none;
  margin-bottom: 5rem;
  padding: auto;
  box-shadow:5px 4px 4px sienna;             
}