*{
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: sienna;
}
body{
  background-color: rgb(223, 254, 255);
}

a:link{
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover{
  color: cornflowerblue;
  background-color: darkcyan;
  text-decoration: underline;
}

.intro{
  background-image:url('/My_Cv_Website/images/intro_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pp{
  float:inline-start;
  width: 100px;
  height: 50px;
  position: relative;
  display: inline-block;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: dotted;
  }